*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(imaganes/background4.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items:center;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.menú-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

h4{
    color:#f5fffa;
    text-overflow: 2px 2px 1px black;
    font-style: bold;
    font-weight: normal;
    font-size: 4em;
    font-variant: small-caps;
    font-family: 'Zen Tokyo Zoo', cursive;
    text-align: left;
}

h5{color:#f5fffa;
    text-overflow: 2px 2px 1px black;
    font-style: bold;
    font-weight: normal;
    font-size: 4em;
    font-variant: small-caps;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h4{
    color: #fff;
    font-size: 100px;
}

p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;color:#f5fffa;
    text-overflow: 2px 2px 1px black;
    font-style: bold;
    font-weight: normal;
    font-size: 1em;
    font-variant: small-caps;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: left;
    
}

button{ 
    width: 180px;
    color: black;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 70px;
    outline: none;
    margin-top: 30px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
   
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(imaganes/louisteenager.jpg)
}

.card2{
    background-image: url(imaganes/louis1d.jpg)
}

.card3{
    background-image: url(imaganes/louisfutbol.jpg)
}

.card4{
    background-image: url(imaganes/louissolista.jpg)
}

.card:hover{
    transform: translate(-10px);
}

h5{
    color:#fff;
    text-shadow: 0 0 5px #999;
}

h7{
    color:#fff;
    text-shadow: 0 0 5px #999;
}

h7{color: #fff;
    font-size: 15px;
    line-height: 15px;color:#f5fffa;
    text-overflow: 2px 2px 1px black;
    font-style: bold;
    font-weight: normal;
    font-size: 1em;
    font-variant: small-caps;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
}
.carrd p{
    text-shadow: 0 0 5px #000;
    font-size: 8px;
}







